body{
	 background:url(../../store/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  background-attachment: fixed;
	width: 100%;
	font-family: 'Ubuntu', sans-serif;
}
.home{
	 height: 100vh; 
	display: flex;
	/* justify-content: center; */
	/* position: absolute; */
	/* top: 80%; */
	align-items:flex-end;
	font-size: 64px; 
	color: #723c8f;
	margin-left: 1.5em;
}
 /* * {
		background: url("https://wallpapercave.com/wp/wp3724325.jpg");
	 background-position: center;
	  background-repeat: no-repeat;
  background-size: cover;
  /* width: 100%;
  height: 100vh; */
*{
	margin: 0;
	padding: 0;
	border: 0;
}